/* HERO */
.hero-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.hero-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.no-margin-bottom {
  margin-bottom: 0;
}
#hero-section h1 {
  line-height: 1.5;
  letter-spacing: -3px;
  padding-top: 10rem;
}

.bg-image {
  background-image: url("../dev/img/fun-agency.png");
  height: 600px;
}

/* NAVBAR CSS*/
.navbar {
  display: flex;
  padding: 20px 5;
  justify-content: space-around;
}

.nav-link {
  border-bottom: 2px solid transparent; /* Set border bottom menjadi transparan */
  transition: border-bottom 0.3s ease-in-out; /* Tambahkan transition untuk border-bottom */
}

.nav-link:hover {
  border-bottom: 2px solid #fe8c21; /* Border bottom sebagai ganti underline */
  padding-bottom: 5px; /* Jarak underline dari teks */
  color: brown;
}

/* Typography */
.display-1 {
  font-size: 3.5rem; /* Mengubah ukuran font */
  /* Tambahkan lebih banyak aturan CSS di sini sesuai kebutuhan */
}

.display-2 {
  font-size: 30px;
}
.lead {
  font-size: 1.2rem;
}

/* Memberikan sorotan pada teks yang ditandai */
mark.highlight {
  background: yellow; /* ganti dengan warna yang Anda inginkan */
  animation: highlight 2s infinite; /* animasi */
}

/* Keyframes untuk animasi */
@keyframes highlight {
  0% {
    background: yellow;
  } /* ganti dengan warna awal */
  50% {
    background: orange;
  } /* ganti dengan warna peralihan */
  100% {
    background: yellow;
  } /* ganti dengan warna akhir */
}

/* Our Clients */
.our-clients {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.clients-logo-container {
  display: flex;
  align-items: flex-end;
}

.clients-logo {
  max-width: 70%;
  height: auto;
  padding-top: 2rem;
}

.clients-logo:hover {
  transform: scale(1.2);
  transform-origin: center center;
  transition: transform 0.5s ease-in-out;
}

/* Our Teams */
.card-title {
  color: brown;
}

.card-img-top {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 18rem;
  }
}

/* Custome Color */
.bg-green {
  background-color: rgba(0, 121, 107, 1); /* Warna hijau tua dalam format rgba() */
}

.bg-dark-purple {
  background-color: #6828ed;
}

.bg-carrot-orange {
  background-color: #fe8c21;
}

.bg-black-coal {
  background-color: #101010;
}

.bg-dark {
  background-color: #101010;
}
/* Our Values  */
#values-one:hover {
  background-image: url("../dev/img/values/client-img-2.jpg");
  background-color: rgba(0, 255, 0, 0.5);
  background-blend-mode: multiply;
}

#values-two:hover {
  background-image: url("../dev/img/values/client-img-2.jpg");
  background-color: rgba(0, 123, 255, 0.5); /* Warna biru primary dengan transparansi 50% */
  background-blend-mode: multiply;
}

#values-three:hover {
  background-image: url("../dev/img/values/client-img-2.jpg");
  background-color: rgba(0, 123, 255, 0.5); /* Warna biru primary dengan transparansi 50% */
  background-blend-mode: multiply;
}

#values-four:hover {
  background-image: url("https://dayanaraandalan.com/dev/img/values/client-img-2.jpg");
  background-color: rgba(0, 123, 255, 0.5); /* Warna biru primary dengan transparansi 50% */
  background-blend-mode: multiply;
}

#values-five:hover {
  background-image: url("https://dayanaraandalan.com/dev/img/values/client-img-1.jpg");
  background-color: rgba(0, 255, 0, 0.5);
  background-blend-mode: multiply;
}

#values-six:hover {
  background-image: url("https://dayanaraandalan.com/dev/img/values/client-img-1.jpg");
  background-color: rgba(0, 255, 0, 0.5);
  background-blend-mode: multiply;
}

.container-values-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Our Communities  */

#communities-img img {
  border-radius: 20px;
  max-width: 80%;
}
